.user-home {
	margin: 0 auto;
	

	div.row{
		width: 100%;
	}

    .dataset-account-info {
    	
    	padding-left: 30px;
    	hr {
    		height: 1px;
    		background: #3a424c;
    		border: none;
    	}
	    header {
	    	padding-top: 30px;
	    	margin-bottom: 15px;
	    	h3 {
	    		text-align: center;
	    		color: #000;
	    	}
	    }
    	h5 {
    		color: #eee;
    	}
    }

	h3 {
		margin-top: 0;
	}

	#logout {
		color: red;
		cursor: pointer;
	}

	.panel-group {
		position: relative;
	}

	.home-panel {
		background: #3a424c;

		h4 {
		  display: inline-block;
		  color: #eee;
		}

		.panel-heading {
			padding: 5px 10px;
		}

		span {
			color: #eee;
			position: absolute;
			top: 25px;
			right: 20px;
		}

		.no-item {
			font-size: 1.4em;
			color: #eee;
		}

		.list-group-item {
			border: none;
			background: #3a424c;
			padding: 5px 5px 5px 15px;

		}

	}

	a {
		color: #eee;
		font-size: 1.1em;
	}

	.user-home-btn {
		white-space: normal;
		text-align: left;
	}

	.user-graphs-container {
		margin-top: 30px;
		background: #ffffff;
		padding-right: 100px;
		h3 {
			margin-top: 20px;
		}
	}

	.btn-remove {
	  float:right;
	  margin-right: 5px;
	  width: 24px;
	  height: 24px;
	  text-align: center;
	  padding: 3px 0;
	  font-size: 12px;
	  line-height: 1.428571429;
	  border-radius: 12px;
	}

	.btn-dataset {
		white-space: normal;
		text-align: left;
	    background-color: transparent;
	    outline: none;
	    font-size: 1.5em;
	    padding: 0;
	    color: #19d178;
	  }
	  .btn-dataset:hover {
	    text-decoration: none;
	    color: #599ad6;
	  }
	  .btn-dataset:focus {
	    background-color: transparent;
	    box-shadow: none;
	    outline: none;
	  }

	.graphs-list {
		li {
			margin: 15px 0;
			border: 1px solid #c9c3c3;
			border-radius: 10px;
			list-style: none;
			padding: 10px;
		}
	}
	.graph-container {
		img {
			height: 50%;
			width: 80%;
		}
	}
}

