.user-home {
	margin: 0 auto;
    margin-top: 50px;
    height: 100%;

    .dataset-account-info {
    	background: #dee4e5;
    	padding-left: 30px; 
    }

	h3 {
		margin-top: 0;
	}


	.panel-group {
		position: relative;
	}

	.home-panel {
		background: #599ad6;

		h4 {
		  display: inline-block;
		  color: #ffffff;
		}

		span {
			color: #ffffff;
			position: absolute;
			top: 25px;
			right: 20px;
		}

		.no-item {
			font-size: 1.4em;
		}

		.list-group-item {
			border: none;
			background: #599ad6;
			padding: 5px;

			p {
				margin-top: 5px;
				margin-left: 2px;
			}

			.file-upload {
				display: inline-block;
				font-size: 1.4em;
			}
			.upload-links {
				margin-top: 5px;
				float: right;

				#upload {
					color: #1976d2;
				}

				#cancel {
					color: #e02121;
					margin-left: 3px;
				}
			}
		}

		.list-group-item:hover {
			text-decoration: none;
			color: #599ad6;
		}
	}

	a {
		color: #ffffff;
		font-size: 1.1em;
	}

	.btn-remove {
	  width: 24px;
	  height: 24px;
	  text-align: center;
	  padding: 3px 0;
	  font-size: 12px;
	  line-height: 1.428571429;
	  border-radius: 12px;
	}

	.btn-dataset {
		white-space: normal;
		text-align: left;
	    background-color: transparent;
	    outline: none;
	    font-size: 1.5em;
	    padding: 0;
	    color: #19d178;
	  }
	  .btn-dataset:hover {
	    text-decoration: none;
	    color: #599ad6;
	  }
	  .btn-dataset:focus {
	    background-color: transparent;
	    box-shadow: none;
	    outline: none;
	  }
}

