#home {

  h1 {
    margin-top: 40px;
    text-align: center;
  }

  .home-container {
  	margin: 0 auto;
  	width: 80%;
    margin-top: 70px;
  }

  .graph-home {
    margin: 50px 0;
    background-image: url('graph-background.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 500px;

    h2 {
      font-size: 8em;
      color: #599ad6;
    }
  }

  .home-instructions {
  
    .odd-div {
       background: #dee4e5;
    }

    h3 {
      color: #000; 
    }

    h4 {
      margin: 0 auto;
      margin-top: 30px;
      width: 70%;
      color: #599ad6;
    }
  }

  .btn.home-btn {
    color: #ffffff;
    background: #2a3233;
    outline: none !important;
  }

  .btn.home-btn:hover {
    background: #ffffff;
    color: #2a3233;
    border: 1px solid #2a3233;
  }

/*  .upload-form {
    .upload-btn {
      float: right;
      margin-left: 10px;
    }
    .select-btn {
      background-color: transparent;
      outline: none;
      font-size: 1.5em;
      padding: 0;
      color: #19d178;
    }
    .select-btn:hover {
      text-decoration: none;
      color: #599ad6;
    }
    .select-btn:focus {
      background-color: transparent;
      box-shadow: none;
      outline: none;
    }

    .file-upload {
      display: inline-block;
      margin-left: 20px;
      font-size: 1.3em;
    }

  }*/
}
