<section class="row single-graph">	
	<div class="row graphsettings-container">
		<div class="col-xs-12 settings-container">
			<settings-panel></settings-panel>
		</div>
		<div class="graph-container col-xs-12">
			  <scatterplot-graph settings="settings" ng-if="graphType === 'scatterPlot'" rows="data" columns="columns"></scatterplot-graph>
			  <line-graph settings="settings" ng-if="graphType === 'lineGraph'" rows="data" columns="columns"></line-graph>
			  <pie-chart settings="settings" rows="data" columns="columns" ng-if="graphType === 'pieChart'"></pie-chart>
			  <bar-chart settings="settings" rows="data" columns="columns" ng-if="graphType === 'barChart'"></bar-chart>
		</div>
	</div>
</section>
