<section class="row single-graph">	
	<div class="row graphsettings-container">
		<header class="row graph-alert-header">
	      <div ng-show="addedGraph" ng-class="{'alert-success': success, 'alert-danger': !success}" class="animate-show animate-hide">{{message}}</div>
	      <button ng-show="user" ng-disabled="unchanged" class="btn" ng-click="saveUserGraph()">Save Graph</button>
	      <p ng-show="!user"><button class="btn" ui-sref="login({source: 'graph'})">Login</button> or <button class="btn" ui-sref="signup({source: 'graph'})">signup</button> to save graph</p>
	    </header>
	    <div class="row">
			<div class="graph-container col-sm-9 col-xs-12">
				  <scatterplot-graph settings="settings" ng-if="graphType === 'scatterPlot'" rows="data" columns="columns"></scatterplot-graph>
				  <line-graph settings="settings" ng-if="graphType === 'lineGraph'" rows="data" columns="columns"></line-graph>
				  <pie-chart settings="settings" rows="data" columns="columns" ng-if="graphType === 'pieChart'"></pie-chart>
				  <bar-chart settings="settings" rows="data" columns="columns" ng-if="graphType === 'barChart'"></bar-chart>
			</div>
			<div class="col-sm-3 col-xs-12 settings-container">
				<settings-panel></settings-panel>
			</div>
		</div>
	</div>
</section>
