<section class="row single-graph">	
	<div class="row graphsettings-container">
		<header class="row graph-alert-header">  
			<button class="btn" ui-sref="userHome({userId: user.id})">My Account</button>
			<button class="btn" ui-sref="userDatasetDetails({userId: user.id, datasetId: dataset.id})">Go to Dataset</button>
			<button class="btn" ng-click="saveUserGraph()">Save Graph to Account</button>
			<button class="btn btn-danger remove" href="" ng-click="removeUserGraph()">Remove Graph</button>
		</header>
		<div class="row">
			<div class="graph-container col-sm-9 col-xs-12">
				  <scatterplot-graph settings="settings" ng-if="graphType === 'scatterPlot'" rows="data" columns="columns"></scatterplot-graph>
				  <line-graph settings="settings" ng-if="graphType === 'lineGraph'" rows="data" columns="columns"></line-graph>
				  <pie-chart settings="settings" rows="data" columns="columns" ng-if="graphType === 'pieChart'"></pie-chart>
				  <bar-chart settings="settings" rows="data" columns="columns" ng-if="graphType === 'barChart'"></bar-chart>
			</div>
			<div class="col-sm-3 col-xs-12 settings-container">
				<settings-panel></settings-panel>
			</div>
		</div>
	</div>
</section>