<section>
	<div class="row">
		<form name="submitGraph" class="graph-form" role="form" novalidate>
			<legend><h3 class="text-center">Select the Data Points to Graph</h3></legend>
		    <fieldset>
				<div class="row">
				  <div class="form-group col-xs-12">
				  	<div class="row">
			          	<div class="column-select-form form-group col-sm-4 col-xs-12">
				            <div>
				            	<label for="seriesx" class="control-label">X Axis/Data Point #1</label>
					            <div class='col-xs-10'>
					              <select ng-model="seriesx[0]"  name="seriesx" class="form-control" ng-options="col.name for col in assignedColumns" ng-change="showGraphs()"></select>
					            </div>
					            <div class="col-xs-2"></div>
					        </div>
					    </div>
					    <div class="column-select-form form-group col-sm-4 col-xs-12">
					        <div>
				            	<label for="seriesy" class="control-label">Y Axis/Data Point #2</label>
					            <div>
					            	<div class="col-xs-10">
						              <select ng-model="seriesy[0]"  name="seriesy" class="form-control" ng-options="col.name for col in assignedColumns" ng-change="showGraphs()"></select>
						            </div>
						            <div class="col-xs-2">
						              <button class='btn download-btn' type="button" ng-click="counter()"><i class="fa fa-2x fa-plus-circle download-icon" aria-hidden="true"></i></button>
						            </div>
					            </div>
					            <div ng-repeat="data in seriesy" ng-show="$index < count">
					            	<div class="col-xs-10">
									    <select ng-model="seriesy[$index + 1]"  name="yseries" class="form-control" ng-options="col.name for col in assignedColumns" ng-change="showGraphs()"></select>
					              	</div>
					              	<div class="col-xs-2">
						              <button class='btn download-btn' type="button" ng-click="counter()"><i class="fa fa-2x fa-plus-circle download-icon" aria-hidden="true"></i></button>
						            </div>
								</div>
					        </div>
					    </div>
			          	
		          		<div class="column-select-form form-group col-sm-3 col-xs-12" ng-if="seriesx.length > 0 || seriesy.length > 0">
					        <div class="row graph-feedback">
								<div ng-if="!scatterEnable">
									<p><span>Scatterplot:</span> Not available for these data points.  Please select two quantitative data points.</p>
								</div>
								<div ng-if="!lineEnable">
									<p><span>Line Graph:</span> Not available for these data points.  X value must be a date or quantitative value.  Y values must be quantitative.</p>
								</div>
								<div ng-if="!pieEnable || !withinLength">
									<p><span>Pie Chart:</span> Not recommended for these data points.</p>
								</div>
								<div ng-if="!barEnable">
									<p><span>Bar Chart:</span> Not available for these data points. Y values must be quantitative</p>
								</div>
							</div>
			          	</div>
			        </div>
				  </div>
				</div>
			</fieldset>
		</form>
	</div>
	<div class="row graph-previews">
		<div class="column col-sm-6" ng-if="scatterEnable">
			<h4 class="text-center">Scatterplot</h4>
			<div class="col-sm-1"></div>
			<div class="col-xs-12 col-sm-10 graph-previews-columns" ng-click="viewSingleGraph('scatterPlot')">
				<scatterplot-graph settings="settings" rows="values" seriesy="seriesy" seriesx="seriesx"></scatterplot-graph>
			</div>
			<div class="col-sm-1"></div>
		</div>
		<div class="column col-sm-6" ng-if="lineEnable">
			<h4 class="text-center">Line Graph</h4>
			<div class="col-sm-1"></div>
			<div class="col-xs-12 col-sm-10 graph-previews-columns" ng-click="viewSingleGraph('lineGraph')">
				<line-graph rows="values" seriesy="seriesy" seriesx="seriesx" settings="settings" ></line-graph>
			</div>
			<div class="col-sm-1"></div>
		</div>
		<div class="column col-sm-6" ng-if="pieEnable && withinLength && seriesy.length === 1">
			<h4 class="text-center">Pie Chart</h4>
			<div class="col-sm-1"></div>
			<div class="col-xs-12 col-sm-10 graph-previews-columns" ng-click="viewSingleGraph('pieChart')">
				<pie-chart settings="settings" rows="barvalues" seriesy="seriesy" seriesx="seriesx" ></pie-chart>
			</div>
			<div class="col-sm-1"></div>
		</div>
		<div class="column col-sm-6" ng-if="barEnable">
			<h4 class="text-center">Bar Chart</h4>
			<div class="col-sm-1"></div>
			<div class="col-xs-12 col-sm-10 graph-previews-columns" ng-click="viewSingleGraph('barChart')">
				<bar-chart settings="settings" rows="barvalues" seriesy="seriesy" seriesx="seriesx" ></bar-chart>
			</div>
			<div class="col-sm-1"></div>
		</div>
	</div>
</section>