<div>
  <button class="btn download-btn" type="button" ng-click="downloadGraph()">Download Image of Graph</button>
  <button class="btn download-btn" type="button" ng-click="embedGraph()">Embed Graph SVG</button>
  <h3 class="graph-header">Adjust Graph Settings</h3>
  <div class="row">
    <div class="col-sm-3 col-xs-12 panel-group">
      <div class="panel settings-panel">
        <div class="panel-heading">     
          <a data-toggle="collapse" data-target="#view-gensettings-collapse" href="#"><h5>Graph Settings</h5></a>
        </div>
        <div id="view-gensettings-collapse" class="panel-collapse collapse settings-collapse">
          <div id="general">
            <div class="row">
              <div class="form-group col-xs-12">
                <label for="title" class="control-label">Title</label>
                <div>
                  <input class="form-control" name="title" type="text" ng-model="settings.title" required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-xs-4">
                <label for="width" class="control-label">Width</label>
                <div>
                  <input class="form-control" name="width" type="number" ng-model="settings.width" required>
                </div>
              </div>
              <div class="form-group col-xs-4">
                <label for="height" class="control-label">Height</label>
                <div>
                  <input class="form-control" name="height" type="number" ng-model="settings.height" required>
                </div>
              </div>
              <div class="form-group col-xs-4" ng-show="graphType==='pieChart'">
                <label for="radius" class="control-label">Radius</label>
                <div>
                  <input class="form-control" name="radius" type="number" ng-model="settings.radius" required>
                </div>
              </div>
            </div>
            <div class="row" ng-hide="graphType==='pieChart'">
              <div class="form-group col-xs-12">
                <label for="color" class="control-label">Color</label>
                <div id="cp2" class="input-group colorpicker-component">
                    <input type="text" name="color" value="#000000" class="form-control" />
                    <span class="input-group-addon"><i></i></span>
                </div>
              </div>
            </div>
            <div class="row" ng-show="graphType==='pieChart'">
              <div class="form-group col-xs-12">
                <label for="color" class="control-label">Color</label>
                <div>
                  <select class="form-control" name="color" type="text" ng-model="settings.color">
                    <option value="10">Scale 10 Colors</option>
                    <option value="20a">Scale 20 colors A</option>
                    <option value="20b">Scale 20 colors B</option>
                    <option value="20c">Scale 20 colors C</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3 col-xs-12 panel-group" ng-show="graphType==='pieChart'">
      <div class="panel settings-panel">
        <div class="panel-heading"> 
          <a data-toggle="collapse" data-target="#view-piesettings-collapse" href="#"><h5>Legend Settings</h5></a>
        </div>
        <div id="view-piesettings-collapse" class="panel-collapse collapse settings-collapse">
          <div id="general">
            <div class="row">
              <div class="form-group col-xs-12">
                <label for="displayType" class="control-label">Display Type</label>
                <div>
                  <select class="form-control" name="displayType" type="text" ng-model="settings.displayType">
                    <option value="number">Number</option>
                    <option value="percentage">Percentage</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3 col-xs-12 panel-group" ng-hide="graphType==='pieChart'">
      <div class="panel settings-panel">
        <div class="panel-heading"> 
          <a data-toggle="collapse" data-target="#view-xsettings-collapse" href="#"><h5>X Axis Settings</h5></a>
        </div>
        <div id="view-xsettings-collapse" class="panel-collapse collapse settings-collapse">
          <div id="general">
            <div class="row">
              <div class="form-group col-xs-12">
                <label for="xAxisLabel" class="control-label">X Axis Label</label>
                <div>
                  <input class="form-control" name="xAxisLabel" type="text" ng-model="settings.xAxisLabel" required>
                </div>
              </div>
            </div>
            <div class="row" ng-hide="graphType==='barChart'">
              <div class="form-group col-xs-6">
                <label for="maxX" class="control-label">Min X Value</label>
                <div>
                  <input class="form-control" name="maxX" type="number" ng-model="settings.minX" required>
                </div>
              </div>
              <div class="form-group col-xs-6">
                <label for="minX" class="control-label">Max X Value</label>
                <div>
                  <input class="form-control" name="minX" type="number" ng-model="settings.maxX" required>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3 col-xs-12 panel-group" ng-hide="graphType==='pieChart'">
      <div class="panel settings-panel">
        <div class="panel-heading">
          <a data-toggle="collapse" data-target="#view-ysettings-collapse" href="#"><h5>Y Axis Settings</h5></a>
        </div>
        <div id="view-ysettings-collapse" class="panel-collapse collapse settings-collapse">
          <div id="general">
            <div class="row">
              <div class="form-group col-xs-12">
                <label for="yAxisLabel" class="control-label">Y Axis Label</label>
                <div>
                  <input class="form-control" name="yAxisLabel" type="text" ng-model="settings.yAxisLabel" required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-xs-6">
                <label for="minY" class="control-label">Min Y Value</label>
                <div>
                  <input class="form-control" name="minY" type="number" ng-model="settings.minY" required>
                </div>
              </div>
              <div class="form-group col-xs-6">
                <label for="maxY" class="control-label">Max Y Value</label>
                <div>
                  <input class="form-control" name="maxY" type="number" ng-model="settings.maxY" required>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3 col-xs-12 panel-group">
      <div class="panel settings-panel">
        <div class="panel-heading">
          <a data-toggle="collapse" data-target="#view-changedata-collapse" href="#"><h5>Change Data</h5></a>
        </div>
        <div id="view-changedata-collapse" class="panel-collapse collapse settings-collapse">
          <div id="general">
            <div class="row">
              <div class="form-group col-xs-12">
                <label for="xAxis" class="control-label">X Axis/Data Point #1</label>
                <div>
                  <select ng-model="columns[0].name"  name="column1" class="form-control" ng-options="col for col in allColumns" ng-change="assignColumnType(columns[0])"></select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-xs-12">
                <label for="yAxis" class="control-label">Y Axis/Data Point #2</label>
                <div>
                  <select ng-model="columns[1].name"  name="column2" class="form-control" ng-options="col for col in allColumns" ng-change="assignColumnType(columns[1])"></select>
                </div>
              </div
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
