<div>
  <h3 class="graph-header">Adjust Graph Settings</h3>
  <div class="row">
    <div class="col-xs-12 panel-group">
      <div class="panel settings-panel">
        <div class="panel-heading">
          <a data-toggle="collapse" data-target="#view-gensettings-collapse" href="#"><h5>Graph Settings</h5></a>
        </div>
        <div id="view-gensettings-collapse" class="panel-collapse collapse settings-collapse">
          <div id="general">
            <div class="row">
              <div class="form-group col-xs-10">
                <label for="title" class="control-label">Title</label>
                <div>
                  <input class="form-control" name="title" type="text" ng-model="settings.title" required>
                </div>
              </div>
              <div class="form-group col-xs-2">
                <label for="yAxis" class="control-label">Size</label>
                <div>
                  <select ng-model="settings.titleSize" name="title-size" class="form-control" ng-options="n for n in titleFontSizes" ng-change="showGraphs()"></select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-xs-4">
                <label for="width" class="control-label">Width</label>
                <div>
                  <input class="form-control" name="width" type="number" ng-model="settings.width" required>
                </div>
              </div>
              <div class="form-group col-xs-4">
                <label for="height" class="control-label">Height</label>
                <div>
                  <input class="form-control" name="height" type="number" ng-model="settings.height" required>
                </div>
              </div>
              <div class="form-group col-xs-4" ng-show="graphType==='pieChart'">
                <label for="radius" class="control-label">Radius</label>
                <div>
                  <input class="form-control" name="radius" type="number" ng-model="settings.radius" required>
                </div>
              </div>
            </div>
            <div class="row" ng-hide="graphType==='pieChart'">
              <div class="form-group col-xs-12">
                <label for="singleColor" class="control-label">Single Color</label>
                <div id="cp2" class="input-group colorpicker-component">
                  <input type="text" name="singleColor" value="#000000" class="form-control" />
                  <span class="input-group-addon"><i></i></span>
                </div>
              </div>
            </div>
            <div class="row" ng-show="graphType==='pieChart' || graphType==='barChart'">
              <div class="form-group col-xs-12">
                <label for="multiColor" class="control-label">Multi-Color</label>
                <div>
                  <select class="form-control" name="multiColor" type="text" ng-model="settings.color">
                    <option value="10">Scale 10 Colors</option>
                    <option value="20a">Scale 20 colors A</option>
                    <option value="20b">Scale 20 colors B</option>
                    <option value="20c">Scale 20 colors C</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 panel-group" ng-show="graphType==='pieChart'">
      <div class="panel settings-panel">
        <div class="panel-heading">
          <a data-toggle="collapse" data-target="#view-piesettings-collapse" href="#"><h5>Legend Settings</h5></a>
        </div>
        <div id="view-piesettings-collapse" class="panel-collapse collapse settings-collapse">
          <div id="general">
            <div class="row">
              <div class="form-group col-xs-6">
                <label for="displayType" class="control-label">Display Type</label>
                <div>
                  <select class="form-control" name="displayType" type="text" ng-model="settings.displayType">
                    <option value="number">Number</option>
                    <option value="percentage">Percentage</option>
                  </select>
                </div>
              </div>
              <div class="form-group col-xs-6">
                <label for="groupType" class="control-label">Group By Type</label>
                <div>
                  <select class="form-control" name="groupType" type="text" ng-model="settings.groupType">
                    <option value="total">Total</option>
                    <option value="mean">Mean</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 panel-group" ng-hide="graphType==='pieChart'">
      <div class="panel settings-panel">
        <div class="panel-heading">
          <a data-toggle="collapse" data-target="#view-xsettings-collapse" href="#"><h5>X Axis Settings</h5></a>
        </div>
        <div id="view-xsettings-collapse" class="panel-collapse collapse settings-collapse">
          <div id="general">
            <div class="row">
              <div class="form-group col-xs-10">
                <label for="xAxisLabel" class="control-label">X Axis Label</label>
                <div>
                  <input class="form-control" name="xAxisLabel" type="text" ng-model="settings.xAxisLabel" required>
                </div>
              </div>
              <div class="form-group col-xs-2">
                <label for="xAxisTitleSize" class="control-label">Size</label>
                <div>
                  <select ng-model="settings.xAxisTitleSize" name="x-axis-title-size" class="form-control" ng-options="n for n in fontSizes" ng-change="showGraphs()"></select>
                </div>
              </div>
            </div>
            <div class="row" ng-show="graphType==='barChart'">
              <div class="form-group col-xs-12">
                <label for="groupType" class="control-label">Group By Type</label>
                <div>
                  <select class="form-control" name="groupType" type="text" ng-model="settings.groupType">
                    <option value="total">Total</option>
                    <option value="mean">Mean</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row" ng-hide="graphType==='barChart'">
              <div class="form-group col-xs-6">
                <label for="maxX" class="control-label">Min X Value</label>
                <div>
                  <input class="form-control" name="maxX" type="number" ng-model="settings.minX" required>
                </div>
              </div>
              <div class="form-group col-xs-6">
                <label for="minX" class="control-label">Max X Value</label>
                <div>
                  <input class="form-control" name="minX" type="number" ng-model="settings.maxX" ng-change="showGraphs()" required>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 panel-group" ng-hide="graphType==='pieChart'">
      <div class="panel settings-panel">
        <div class="panel-heading">
          <a data-toggle="collapse" data-target="#view-ysettings-collapse" href="#"><h5>Y Axis Settings</h5></a>
        </div>
        <div id="view-ysettings-collapse" class="panel-collapse collapse settings-collapse">
          <div id="general">
            <div class="row">
              <div class="form-group col-xs-10">
                <label for="yAxisLabel" class="control-label">Y Axis Label</label>
                <div>
                  <input class="form-control" name="yAxisLabel" type="text" ng-model="settings.yAxisLabel" required>
                </div>
              </div>
              <div class="form-group col-xs-2">
                <label for="yAxisTitleSize" class="control-label">Size</label>
                <div>
                  <select ng-model="settings.yAxisTitleSize" name="y-axis-title-size" class="form-control" ng-options="n for n in fontSizes" ng-change="showGraphs()"></select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-xs-6">
                <label for="minY" class="control-label">Min Y Value</label>
                <div>
                  <input class="form-control" name="minY" type="number" ng-model="settings.minY" required>
                </div>
              </div>
              <div class="form-group col-xs-6">
                <label for="maxY" class="control-label">Max Y Value</label>
                <div>
                  <input class="form-control" name="maxY" type="number" ng-model="settings.maxY" ng-change="showGraphs()" required>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 panel-group">
      <div class="panel settings-panel">
        <div class="panel-heading">
          <a data-toggle="collapse" data-target="#view-changexdata-collapse" href="#"><h5>Change X-Data</h5></a>
        </div>
        <div id="view-changexdata-collapse" class="panel-collapse collapse settings-collapse">
          <div id="general">
            <div class="row">
              <div class="form-group col-xs-12">
                <label for="xAxis" class="control-label">X Axis/Data Point #1</label>
                <div>
                  <select ng-model="seriesx[0]" name="seriesx" class="form-control" ng-options="col.name for col in xColumns" ng-change="showGraphs()"></select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 panel-group">
      <div class="panel settings-panel">
        <div class="panel-heading">
          <a data-toggle="collapse" data-target="#view-changedata-collapse" href="#"><h5>Change Y-Data</h5></a>
        </div>
        <div id="view-changedata-collapse" class="panel-collapse collapse settings-collapse">
          <div id="general">
            <div class="row" ng-repeat="series in seriesy">
              <div class="form-group col-xs-9">
                <label for="yAxis" class="control-label">Y Axis/Data Point #{{$index + 1}}</label>
                <div>
                  <select ng-model="seriesy[$index]" name="column2" class="form-control" ng-options="col.name for col in yColumns" ng-change="showGraphs()"></select>
                </div>
              </div>
              <div class="col-xs-3" ng-show="seriesy.length > 1">
                <button ng-click="seriesy.splice($index, 1); showGraphs()">X</button>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <button ng-click="seriesy.push('placeholder')">Add Data</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12">
    <div class="form-group col-xs-6">
      <button class="btn download-btn" type="button" ng-click="downloadGraph()"><i class="fa fa-download download-icon"></i></button>
    </div>

    <div class="form-group col-xs-6">
      <embed-modal></embed-modal>
    </div>
    </div>
  </div>
</div>




<!--  <label for="seriesy" class="control-label">Y Axis/Data Point #2</label>
                      <div>
                        <select ng-model="seriesy[0].name"  name="seriesy" class="form-control" ng-options="col for col in columns" ng-change="assignColumnType(seriesy[0])"></select>
                        <button class='btn btn-primary' type="button" ng-click="counter()">+</button>
                      </div>
                      <div ng-repeat="data in seriesy" ng-show="$index < count">
                    <select ng-model="seriesy[$index + 1].name"  name="yseries" class="form-control" ng-options="col for col in columns" ng-change="assignColumnType(seriesy[$index + 1])"></select>
                          <button class='btn btn-primary' type="button" ng-click="counter()">Add Another Data Point</button>
                </div> -->
