
.graphsettings-container {
	margin: 30px auto;
	width: 90%;
}

.graph-container {
	padding: 20px;
	background: white;
}


.settings-container {
	h4 {
		margin-bottom: 10px;
	}
	margin-bottom: 20px;
}