<section class="user-home row">
  <div class="row">
    <div class="col-sm-4 col-xs-12 dataset-account-info">
      <header class="row">
        <h3 class="col-xs-8">Hi {{user.fullName}}!</h3> 
      </header>
      <hr/>
      <div class="panel-group">
        <div class="panel home-panel">
          <a data-toggle="collapse" data-target="#new-dataset-collapse" href="#" ng-click="newDatasetOpen=!newDatasetOpen">
            <div class="panel-heading">
              <h4>Add a New Dataset</h4>
              <span class="glyphicon" ng-class="{'glyphicon-chevron-down': !newDatasetOpen, 'glyphicon-chevron-up': newDatasetOpen}"></span>
            </div>
          </a>
          <div id="new-dataset-collapse" class="panel-collapse collapse">
            <ul class="list-group">
              <li class="list-group-item"><button class='btn user-home-btn' ui-sref="searchDatasets">
                Search Available Datasets
              </button></li>
              <li class="list-group-item">
                <upload-modal upload-class="btn"></upload-modal>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel-group">
        <div class="panel home-panel">
          <a data-toggle="collapse" data-target="#view-datasets-collapse" href="#" ng-click="viewDatasetsOpen=!viewDatasetsOpen">
            <div class="panel-heading">
              <h4>View My Datasets</h4>
              <span class="glyphicon" ng-class="{'glyphicon-chevron-down': !viewDatasetsOpen, 'glyphicon-chevron-up': viewDatasetsOpen}"></span>
            </div>
          </a>
          <div id="view-datasets-collapse" class="panel-collapse collapse">
            <ul class="list-group">
              <li class="list-group-item no-item" ng-hide="datasets.length">No Current Datasets</li>
              <li class="list-group-item" ng-repeat="dataset in datasets">
                <div class="row">
                  <div class="col-xs-10">
                    <button class="btn user-home-btn" ng-click="goToDataset(dataset)">{{dataset.name}}</button>
                  </div>
                  <div class="col-xs-2">
                    <button type="button" class="btn-remove btn btn-default btn-circle" ng-click="removeDataset(dataset)"><i class="glyphicon glyphicon-remove"></i></button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8 col-xs-12 user-graphs-container">
      <h3 class="text-center">My Graphs</h3>
      <ul class="graphs-list">
          <li ng-repeat="graph in graphs">
            <a href ng-click="goToUserGraph(graph)"">
              <div class="graph-container">
                <img ng-src="{{graph.imageSource}}">
              </div>
            </a>
        </li>
      </ul>
    </div>
  </div>
</section>
