.graph-form {

	border: 2px solid white;
	border-radius: 10px;
	margin-bottom:20px;
	label {
		font-size: 1.5em;
		font-weight: 800;
	}

	.form-group {
		padding: 0 20px;
	}
}

.graph-previews {
	
	.graph-previews-columns {
		padding-right: 0px;
		padding-left: 0px;
	  margin-top: 20px;
	  margin-bottom: 20px;
	  cursor: pointer;
	}
	
}

.graph-previews-columns {
	overflow: scroll;
	border-radius: 10px;
	border: 1px solid #000;
}