.graph-form {

	border: 2px solid white;
	border-radius: 10px;
	margin-bottom:20px;
	label {
		font-size: 1.5em;
		font-weight: 800;
	}

	.form-group {
		padding: 0 20px;
	}

	.column-select-form {

		border: 1px solid black;
		border-radius: 5px;
		margin-right: 10px;
		padding-bottom: 30px;
		label {
			margin-top: 20px;
		}
	}

	.graph-options {

		border: 1px solid black;
		border-radius: 5px;
		margin-left: 10px;
		padding-bottom: 30px;
		h4 {
			margin-top: 20px;
		}

		li {
			display: inline-block;
			margin-left: 50px;
		}
	}
}

.graph-previews {
	
	.graph-previews-columns {
		padding-right: 0px;
		padding-left: 0px;
	  margin-top: 20px;
	  margin-bottom: 20px;
	  cursor: pointer;
	}
	
}

.graph-previews-columns {
	overflow: scroll;
	border-radius: 10px;
	border: 1px solid #000;
}

.graph-feedback {
	p {
		font-size: 1.2em;
	}
}