.dataset-table{
	border: 1px solid #f2efef;
	padding: 10px;

	table {
		border: 1px solid #f2efef;
	}
	thead {
		tr td {
			border: 1px solid #f2efef;
			background-color: #ffffff;
			color: #000;
			font-size: 1.2em;
			font-weight: 700;
		}
	}

	tbody {

		tr:nth-child(odd) td {
			border: 1px solid #f2efef;
			background-color: #f2efef;
		}

		tr:nth-child(even) td {
			background-color: #ffffff;
		}

	}
}

