.modal-content {
  margin-top: 200px;
}

.embed-btn:hover {
  color: white;
}

.embed-modal .modal-dialog {
  width: 400px;
  height: 150px;
  h4 {
    margin: 0 auto;

  }
  .btn {
    margin-top: 20px;
  }

  textarea {
    margin-top: 10px;
    width: 200px;
    resize: none;
  } 
}