.modal-content {
  margin-top: 200px;
}

.embed-modal .modal-dialog {
  width: 300px;
  height: 100px;
  h4 {
    margin: 20px 0;
  }
  .btn {
    margin-top: 20px;
  }

  textarea {
  	margin: 10px auto 10px 50px;
  	resize: none;

  } 
}