navbar {
    .navbar-toggle {
        border: 1px solid #3a424c;
        &:hover {
            background-color: #eee;
        }
    }
    p.brand{
        font-size: 1.2em;
    }

    p,
    a {
        color: #8ce2a6;
        cursor: pointer;
    }
    #navLogout {
        color: red;
    }
    .icon-bar {
        background: #8ce2a6;
    }
    nav {
        display: block;
        position: fixed;
        width: 100%;
        background: #3a424c;
        height: 70px;
    }
    .container {
        width: 91%;
        max-width: 100%;
        padding-top: 10px;
    }
    .btn.navbar-button {
        margin-top: 10px;
        outline: none !important;
        margin-right: 30px;
    }
    .navbar-collapse {
        float: right;
    }
    #navbarCollapse {
        background-color: #3a424c;
    }
}
