navbar {

  nav {
    display: block;
    position: fixed;
    width: 100%;
    background: #2a3233;
    height: 70px;
    }

  .container {
    width: 91%;
    max-width: 1340px;
    padding-top: 10px;
  }

   .btn.navbar-button {
    color: #ffffff;
    background: #599ad6;
    margin-top: 10px;
    outline: none !important;
    margin-right: 30px;
  }

  .btn.navbar-button:hover {
    background: #ffffff;
    color: #599ad6;
    border: 1px solid #599ad6;
  }
}
