
.save-graph-btn {
	float: right;
	background: #599ad6;
	color: #ffffff;
	margin: 10px 30px;
}

.save-graph-btn:hover {
    background: #ffffff;
    color: #599ad6;
    border: 1px solid #599ad6;
  }



.settings-panel {
	background: #599ad6;
	.panel-heading {
		padding: 5px;
	}
	a {
		color: #ffffff;
	}

	a:hover,
	a:focus {
		text-decoration: none;
		color: #000;
	}

	.settings-collapse	{
		padding: 0 10px;

		label {
			color: #ffffff;
		}

		input {
			height: auto;
		}
	}

}