header.dataset-alert-header {
  margin-bottom: 0;
  height: 50px;
  a {
    font-size: 150%;
    font-weight: 700;
  }
  a#add-dataset {
    float: right;
  }
  a#add-dataset:hover,
  a#add-dataset:focus {
    text-decoration: none;
      color: #599ad6;
  }
  p {
    float:right;
  }
}

.alert-success, 
.alert-danger {
  margin: 0 auto;
  height: 50px;
  width: 40%;
  position: relative;
  top: 0;
  left: 0;
  padding-top: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
}


.animate-show
{
  text-align: center;
  float:right;
  transition:all 1s linear;
}

.animate-show.ng-hide-remove,
.animate-hide.ng-hide-add.ng-hide-add-active {
  opacity: 0;
  display: block !important;
}

.animate-hide.ng-hide-add,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
  display: block !important;
}
