header.user-dataset-header {
	margin-bottom: 0;
	a#back-home {
		font-size: 150%;
		font-weight: 700;
	}
	a#remove {
		color: #f22015;
		font-size: 150%;
		font-weight: 700;
		float: right;
	}
	a#remove:hover {
		text-decoration: none;
  		color: #599ad6;
	}
}
