* {
  box-sizing: border-box;
  font-family: 'Oxygen', sans-serif;
  color: #6a6d70;
  border: 1px solid gray; 
}

body {
  background: #e6e9ed;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

a {
  color: #19d178;
}
a:hover {
  text-decoration: none;
  color: #599ad6;
}

#main {
  padding-top: 60px;
  margin: 0 auto;
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'search-datasets/main';
@import 'user/main';
@import 'dataset/main';
@import 'graph/main';