* {
  box-sizing: border-box;
  font-family: 'Oxygen', sans-serif;
  color: #000;
  font-size: 11px;
}

html {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: #000;
}

body {
  background: #ffffff;
  height: 100%;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

a {
  color: #19d178;
}

a:hover {
  text-decoration: none;
  color: #599ad6;
}

button {
    color: #ffffff;
    background: #599ad6;
    outline: none !important;
}

button:hover {
  background: #ffffff;
  color: #599ad6;
  border: 1px solid #599ad6;
}

#main {
  padding-top: 60px;
  margin: 0 auto;
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'search-datasets/main';
@import 'user/main';
@import 'dataset/main';
@import 'graph/main';